In [1]:
def calc(n1,n2):
  return n1 + n2 , n1 - n2 , n1*n2 , n1/n2 #4개의 값을 가진 튜플객체로 반환

n1 , n2 = 20, 10
t1, t2 , t3 ,t4 =calc(n1,n2)
print(n1,'+',n2,'=', t1)
print(n1,'-',n2,'=', t2)
print(n1,'*',n2,'=', t3)
print(n1,'/',n2,'=', t4)

20 + 10 = 30
20 - 10 = 10
20 * 10 = 200
20 / 10 = 2.0

In [2]:
def print_counter():
  cnt = 200
  print('counter=', cnt)

cnt = 100 # 전역변수 cnt
print_counter()
print('counter = ', cnt)

counter= 200
counter =  100

In [3]:
def print_counter():
  global cnt # 전역변수 cnt
  cnt = 200
  print('counter=', cnt)

cnt = 100 # w전역 변수 cnt
print_counter()
print('counter=',cnt)

counter= 200
counter= 200

In [5]:
def order(num, pickle=True, onion=True):
  print('버거 %d개 : 피클 %s, 양파 %s' % (num,pickle ,onion))
order(1)
order(2,False,False)
order(3,False)

버거 1개 : 피클 True, 양파 True
버거 2개 : 피클 False, 양파 False
버거 3개 : 피클 False, 양파 True

In [6]:
def power(base,exp):
  return base**exp
print(power(2,3))
print(power(exp=3,base=2)) # 값 과 변수 이름까지 쌍으로 이용

8
8

In [9]:
def weeklyPay(rate, hour):
  if(hour > 30):
    money = rate*30 + 1.5*rate*(hour-30)
  else:
    money = rate*hour
  return money

r= int(input("시급 입력: "))
h= int(input("근무 시간 입력:"))
print("주급은" , weeklyPay(rate=r,hour=h))

시급 입력: 10000
근무 시간 입력:40
주급은 450000.0

In [13]:
print(round(23.75))
print(round(23.75,1))
print(round(23.75,-1))

print(pow(2,3))
print(pow(2,0.5))

print(abs(-3.9))

24
23.8
20.0
8
1.4142135623730951
3.9

In [14]:
def factorial(n):
  if n<=1:
    return 1
  else :
    return n * factorial(n-1)
print('5!= ', factorial(5))

5!=  120

In [19]:
def fibo(i):
  if i==1:
    return 0
  elif i==2 :
    return 1
  else :
    return fibo(i-1)+fibo(i-2)

n = int(input("정수 n 입력 : "))
print('%d번째 피보나치 수열 = %d' % (n,fibo(n)))

정수 n 입력 : 40
40번째 피보나치 수열 = 63245986

In [20]:
def rsum(n):
  if n==1:
    return 1
  return rsum(n-1)+ 1/n
n= int(input("정수 입력 : "))
print("1에서 %d 사이의 역수 수열의 합 =%.1f"%(n,rsum(n)))

정수 입력 : 100
1에서 100 사이의 역수 수열의 합 =5.2

In [26]:
def dsum(n:int)->int:
  if n==0:
    return 0
  else :
    return dsum(n//10) + n%10 # 1234 +123 12 1 0  1 2 3 4 5

n = int(input("수 입력 :"))
print(dsum(n))

수 입력 :12345
15

In [30]:
def gcd(x:int , y:int) -> int:
  
  if y==0 :
    return x
  else :
    return  gcd(y,x%y)

x,y=map(int,input("수 입력 :").split())
print(gcd(x,y))

수 입력 :25 15
5

In [ ]:
def dsum(n):
  if n==0:
    return 0
  return dsum(n//10) + n % 10

def d(n):
  return dsum(n) + n


#   self = True
#   for j in range(1, i):
#     # i에게 제네레이터가 있는지 검사
#     if (i == generator(j)) :
#       self = False
#   if self:
#     sum += i
# print(sum)
# 중첩 for 문 함수로 변경해보기기
def is_Self(n:int)->bool:
  for j in range(1,n):
    if d(j)==n:
      return False
  return True

selfNumber_sum =0
for i in range(1, 5000):
    if is_Self(i):
      selfNumber_sum += i
print(selfNumber_sum)